/*!
 * Start Bootstrap - One Page Wonder v5.0.8 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

body{
    font-family: 'Montserrat', sans-serif;
}

#grad{
    height: 100vh;
    background: linear-gradient(to bottom, #a1e9f2, #bff0f6, #d0f4f9, #ffffff);
}

.konten{
    padding-top: 5rem;
}

.judul{
    padding-top: 7rem;
    font-size: 4rem;
    font-weight: bold;
}

/* body{
    font-family:Lato
}
h1,h2,h3,h4,h5,h6{
    font-family:Catamaran;
    font-weight:800!important
}
.btn-xl{
    text-transform:uppercase;
    padding:1.5rem 3rem;
    font-size:.9rem;
    font-weight:700;
    letter-spacing:.1rem
}
.bg-black{
    background-color:#000!important
}
.rounded-pill{
    border-radius:5rem
}
*/
.navbar-custom{
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 0;
    background-color:#a1e9f2;
}

.navbar-brand{
    font-weight: bolder;
    color: #0b5158 !important;     
}
/*
.navbar-custom 
.navbar-brand{
    text-transform:uppercase;
    font-size:1rem;
    letter-spacing:.1rem;
    font-weight:700
}
.navbar-custom .navbar-nav .nav-item .nav-link{
    text-transform:uppercase;
    font-size:.8rem;
    font-weight:700;
    letter-spacing:.1rem
}
header.masthead{
    position:relative;
    overflow:hidden;
    padding-top:calc(7rem + 72px);
    padding-bottom:7rem;
    background:linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
    background-repeat:no-repeat;
    background-position:center center;background-attachment:scroll;background-size:cover
}
header.masthead .masthead-content{
    z-index:1;position:relative
}
header.masthead .masthead-content .masthead-heading{
    font-size:4rem
}
header.masthead .masthead-content .masthead-subheading{
    font-size:2rem
}
header.masthead .bg-circle{
    z-index:0;position:absolute;
    border-radius:100%;
    background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)
}
header.masthead .bg-circle-1{
    height:90rem;
    width:90rem;
    bottom:-55rem;
    left:-55rem
}
header.masthead .bg-circle-2{
    height:50rem;width:50rem;top:-25rem;right:-25rem
}
header.masthead .bg-circle-3{
    height:20rem;width:20rem;bottom:-10rem;right:5%
}
header.masthead .bg-circle-4{
    height:30rem;width:30rem;top:-5rem;right:35%
}
@media (min-width:992px){
    header.masthead{
        padding-top:calc(10rem + 55px);padding-bottom:10rem
    }
    header.masthead .masthead-content .masthead-heading{
        font-size:6rem
    }
    header.masthead .masthead-content .masthead-subheading{
        font-size:4rem
    }
}
.bg-primary{
    background-color:#ee0979!important
}
.btn-primary{
    background-color:#ee0979;
    border-color:#ee0979
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
    background-color:#bd0760!important;
    border-color:#bd0760!important
}
.btn-primary:focus{
    box-shadow:0 0 0 .2rem rgba(238,9,121,.5)
}
.btn-secondary{
    background-color:#ff6a00;
    border-color:#ff6a00
}
.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover{
    background-color:#c50!important;
    border-color:#c50!important
}
.btn-secondary:focus{
    box-shadow:0 0 0 .2rem rgba(255,106,0,.5)
} */