{% extends "base.html" %}
{% load static %}

{% block title %}Home | SebelumPergi{% endblock %}

{% block content %}

<div class="container konten">
  <div class="row">
    <div class="col">
      <div class="judul">
        SebelumPergi
      </div>
      <p>Ayo hindari risiko terkena Covid dengan mengambil self-assessment sebelum pergi!</p>
      <a href="/self-assessment/" class="btn btn-primary rounded-pill mt-3">Ambil tes</a>
    </div>
    <div class="col">
      <img id="foto" src="{% static 'foto.png' %}" alt="foto landing page!" class="img-fluid">
    </div>
  </div>
</div>

  <!-- footer -->
  <div class="row">
    <footer class="py-5">
        <p class="copyright text-black small">Copyright &copy; SebelumPergi 2020</p>
    </footer>
  </div>
 

  {% endblock %}