{% extends "base.html" %}
{% load static %}

{% block title %}Hasil | SebelumPergi{% endblock %}

{% block content %}
  
<div class="container result">
  <div class="row">
    <div>
      {% if hasil == "True" %}
        <h1 class="hasil">Aman</h1>
        <h4 class="penjelasan">Berdasarkan hasil tes dan pilihan daerah tujuanmu,</h4>
        <h4 class="penjelasan">kamu diperbolehkan pergi ke daerah "{{ tujuan }}".</h4>
        <img class="fotohasil" src="{% static 'aman.png' %}" alt="foto landing page!" class="img-fluid">
        <h6 class="pesan">Tetap laksanakan protokol kesehatan ya, dan apabila tidak urgent sebaiknya di rumah saja.</h6>

      <!-- if not allowed -->
      {% elif hasil == "False" %}
        <h1 class="hasil">Tidak Aman</h1>
        <h4 class="penjelasan">Berdasarkan hasil tes dan pilihan daerah tujuanmu,</h4>
        <h4 class="penjelasan">kamu tidak diperbolehkan pergi ke daerah "{{ tujuan }}".</h4>
        <img class="fotohasil" src="{% static 'tidak aman.png' %}" alt="foto landing page!" class="img-fluid">
        <h6 class="pesan">Jangan pergi dulu ya, supaya semua tetap sehat. Tetap di rumah dan jaga protokol kesehatan.</h6>
      {% endif %}
    </div>
  </div>
</div>

  {% endblock %}